@model CategoryListingViewModel

@{
    var categories = Model.RootCategories;
    ViewData["Title"] = "Index";
}

<h2>Categories!</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var category in categories) {
        <tr>
            <td>
                <img src="~/files/categories/@category.HeaderImageName" height="80"/>
            </td>
            <td>
                @category.Name
            </td>
            <td>
                @category.Description
            </td>
            <td>
                <a href="~/categories/@category.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
