@model LexShop.Model.Category

@{
    var category = Model;
    ViewData["Title"] = "Details";
}

<div>
    <img src="~/files/categories/@category.HeaderImageName" />
    <h3>@category.Name</h3>
    <hr />
    <div>
        @category.Description
    </div>
</div>
<div>
    <h6>Sub-categories</h6>
    @if (category.ChildCategories != null)
    {
        @foreach (var childCategory in category.ChildCategories)
        {
            <div>
                <img src="~/files/categories/@childCategory.HeaderImageName" height="80" />
                <h4>@childCategory.Name</h4>
            </div>
        }
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
    @if (category.ParentCategory != null)
    {
        <a asp-action="View" asp-route-id="@category.ParentCategory.Id">To parent</a>
    }
</div>
